.md-typeset .grid {
    grid-template-columns: repeat(auto-fit,minmax(min(100%,8rem),1fr))
}
.bts-green {
    color: #8bc34b;
}
.bts-purple {
    color: #ab47bd;
}
.bts-amber {
    color: #ffc105;
}
.bts-blue {
    color: #4287ff;
}
.md-typeset h1, .md-typeset h2 {
    font-weight: bold;
}
.md-typeset object {
    width: 100%;
    min-height: 400px;
}
/* Admonition exo-easy */
:root {
    --md-admonition-icon--exo-easy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.5 5.5v13h-2v-13zm-7 5v8h-2v-8zM21 4h-5v16h5zm-7 5H9v11h5zm-7 5H2v6h5z'/%3E%3C/svg%3E");
}
.md-typeset .admonition.exo-easy,
.md-typeset details.exo-easy {
border-color: rgb(43, 155, 70);
}
.md-typeset .exo-easy > .admonition-title,
.md-typeset .exo-easy > summary {
background-color: transparent;
}
.md-typeset .exo-easy > .admonition-title::before,
.md-typeset .exo-easy > summary::before {
background-color: rgb(43, 155, 70);
-webkit-mask-image: var(--md-admonition-icon--exo-easy);
        mask-image: var(--md-admonition-icon--exo-easy);
}
/* Admonition exo-easy */
/* Admonition exo-medium */
:root {
    --md-admonition-icon--exo-medium: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.5 5.5v13h-2v-13zM21 4h-5v16h5zm-7 5H9v11h5zm-7 5H2v6h5z'/%3E%3C/svg%3E");
}
.md-typeset .admonition.exo-medium,
.md-typeset details.exo-medium {
border-color: rgb(236, 165, 12);
}
.md-typeset .exo-medium > .admonition-title,
.md-typeset .exo-medium > summary {
background-color: transparent;
}
.md-typeset .exo-medium > .admonition-title::before,
.md-typeset .exo-medium > summary::before {
background-color: rgb(236, 165, 12);
-webkit-mask-image: var(--md-admonition-icon--exo-medium);
        mask-image: var(--md-admonition-icon--exo-medium);
}
/* Admonition exo-medium */
/* Admonition exo-hard */
:root {
    --md-admonition-icon--exo-hard: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21 4h-5v16h5zm-7 5H9v11h5zm-7 5H2v6h5z'/%3E%3C/svg%3E");
}
.md-typeset .admonition.exo-hard,
.md-typeset details.exo-hard {
border-color: rgb(193, 38, 38);
}
.md-typeset .exo-hard > .admonition-title,
.md-typeset .exo-hard > summary {
background-color: transparent;
}
.md-typeset .exo-hard > .admonition-title::before,
.md-typeset .exo-hard > summary::before {
background-color: rgb(193, 38, 38);
-webkit-mask-image: var(--md-admonition-icon--exo-hard);
        mask-image: var(--md-admonition-icon--exo-hard);
}
/* Admonition exo-hard */